$primaryColor: #39517c;
$secondColor: #2185d0;
$darkprimary: #273e68;
$colorBlack:#212b36;
$breakpoint-smallphone: 667px;
$breakpoint-phone: 768px;
$breakpoint-tablet: 992px;
$breakpoint-notebook: 1024px;
$breakpoint-laptop: 1366px;
$breakpoint-laptops: 1440px;
$breakpoint-desktop: 1408px;

$boxinset: inset 0 0 0 0 transparent, 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
